* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;

}

body {
    box-sizing: border-box;
}

.head {
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    background-color: #378ff5;
}

.head img {
    height: 80%;
    margin-left: 20px;
}

.head h1 > a {
    color: #ffffff;
    font-family: Calibri;
    margin-left: 10px;
}
.men1 {
    display: flex;
}


.men1 li {
    margin-left: 10px;
}
.men2 {
    display: none;
}

.men1 li:hover .men2{
    display: block;
}