* {
    margin: 0;
    padding: 0;
}

.body-content {
    background-color: #54595d;
    width: 400px;
    height: 600px;
}

.header {
    width: 100%;
    height: 15%;
    background-color: orange;
}

.nav {
    width: 100%;
    height: 10%;
    background-color: green;
}

.content
{
    display: flex;
    width: 100%;
    height: 65%;
    background-color: #067894;
}

.article {
    display: flex;
    width: 65%;
    height: 100%;
    background-color: tomato;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    width: 100%;
    height: 25%;
    background-color: grey;
}

.header-cont {
    width: 100%;
    height: 10%;
    background-color: orange;
}

.article-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.footer-cont {
    width: 100%;
    height: 10%;
    background-color: #8cd763;
}

.div {
    width: 35%;
    height: 100%;
    background-color: #dbb247;
}

.ass-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.ass {
    width: 100%;
    height: 30%;
    background-color: green;
}

.footer {
    background-color: #8cd763;
    width: 100%;
    height: 10%;
}