.list-item {
    display: flex;
    height: 600px;
    justify-content: space-evenly;
    align-items: center;
}

.item {
    width: 300px;
    text-align: justify;
}

.item > img {
    width: 100%;
}

.item p {
    padding-left: 10px;
    border-left: 1px solid silver;

}

/*overflow: hidden;*/
/*box-sizing: border-box;*/
/*margin: 0 auto;*/