* {
    margin: 0;
    padding: 0;
}

.content {
    width: 800px;
    height: 500px;
    background-color: grey;
    padding: 20px;
}

.content-style-1 {
    margin: 30px 0 0 30px;
    border-radius: 20px 20px 0 0;
}

.content-style-2 {
    margin: 0 0 0 30px;
}

.content-style-3 {
    margin: 0 0 0 30px;
    border-radius: 0 0 20px 20px;
}

.block-1 {
    width: 100%;
    height: 35%;
}

.block-2 {
    display: flex;
    height: 65%;
}

.flex-cent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocks-b {
    width: 75%;
}

.blocks-c {
    width: 25%;
    background-color: #067894;
}

.let {
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.block-1_1 {
    width: 100%;
    height: 33.3333%;
    background-color: tomato;
}

.block-2_1 {
    display: flex;
    height: 66.7777%;
}

.block-b-b {
    width: 100%;
    height: 50%;
    background-color: #3f3e70;
}

.blocks-b2 {
    width: 75%;
}

.blocks-down {
    display: flex;
    height: 50%;
}

.boxes {
    width: 33.33%;
}

.blocks-bb2 {
    width: 75%;
    background-color: #3f3e70;
}

.block-b-b2 {
    width: 33.33%;

    background-color: #3f3e70;
}

.blocks-down2 {
    display: flex;
    height: 50%;

}

.block-bb22 {
    display: flex;
    height: 50%;
}