* {
    box-sizing: border-box;
}


.header {
    width: 100%;
    height: 100px;
    background-color: #067894;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nav {
    width: auto;
    height: 45%;
    background-color: #8cd763;
    margin: 10px;
}

.content-body {
    width: 100%;
    height: 800px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

}

.section {
    width: 25%;
    height: 100%;
    background-color: grey;
}

.header-section {
    width: auto;
    height: 10%;
    background-color: red;
    margin: 10px;
}

.nav-section {
    width: auto;
    height: 75%;
    background-color: tomato;
    margin: 10px;
}

.footer-section {
    width: auto;
    height: 10%;
    background-color: #0aff59;
    margin: 10px;
}

.section-body {
    width: 74.7%;
    height: 100%;
    background-color: gold;
    margin-left: 5px;
}

.header-body {
    margin: 10px 10px 0 10px;
    display: flex;
    width: auto;
    height: 10%;
    background-color: #067894;

}

.article {
    width: auto;
    height: 33%;
    background-color: aqua;
    margin: 10px;
}